<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header class="header">
        <button class="navbutton-left" style="margin-left: 10px" onclick="ParadigmCreation()">Creation of Paradigms</button>
        <button class="navbutton-left" style="margin-left: 10px" onclick="ParadigmCreated()">Created Paradigms</button>
        <div class="lang">
            <a id="lang-nl" href="#">NL</a>
            <span id="lang-icon" class="material-symbols-outlined">toggle_on</span>
            <a id="lang-fr" href="#" class="selected">FR</a>
        </div>
        <h1 class="header-center">Ion's Psychopy</h1>
        <div class="header-right">
            <button class ="navbutton"  onclick="document.getElementById('launching_text').click()">Starting text</button>
            <button id="serialport" class="navbutton">Serial Port</button>
            <button id="openPopup" class="navbutton">Change of Patient</button>
            <span id="patientName">Patient ID</span>
        </div>
    </header>

    <div class="overlay" id="popupSerial" style="display: none;">
        <span class="close-btn" onclick="closePopup('popupSerial')">&times;</span>
        <div class="popup">
            <h3 style="color: #0c0b0b">Configuration du port</h3>
            <div class="input-overlay">
                <div class="input-group" >
                    <input class ="checkbox_style" type="checkbox" id="option1" value="Option1">
                    <span class="checkbox_input"> Activation </span>
                </div>
                <div class="input-overlay-container">
                    <span>Nom du port</span>
                    <input type="text" placeholder="ex: COM3" id="port">
                </div>

                <div class="input-overlay-container">
                    <span>Speed(baud)</span>
                    <input type="text" placeholder="ex: 9600" id="baudrate">
                </div>

                <div class="input-overlay-container">
                    <span>Caractère pour lancer</span>
                    <input type="text" placeholder="ex: s" id="trigger">
                </div>
                <div class = "input-overlay-container">
                    <h3>Taille du rectange en haut à droite</h3>
                    <div class = "input-group">
                        <span style="margin-top: 16px">Largeur</span>
                        <input type="text" placeholder="ex: 100" id="largeur">
                        <span style="margin-top: 16px">Hauteur</span>
                        <input type="text" placeholder="ex: 50" id="hauteur">
                    </div>
                </div>
            </div>
            <button onclick="submitPort()" class="submit">Submit</button>
        </div>
    </div>

    <div class="overlay" id="popupOverlay" style="display: none;">
        <div class="popup">
            <span class="close-btn" onclick="closePopup('popupOverlay')">&times;</span>
            <h4 style="color: #0c0b0b">Identifiant du patient</h4>
            <input type="text" placeholder="Entrez votre texte" id="patientInput">
            <button onclick="submitPopup()" class="submit">Submit</button>
        </div>
    </div>

    <div class="sidenav">
        <h2 class="h2-sidenav">Paradigme</h2>
        <a href="#" onclick="changeMainContent('long_text')">Adjectifs positifs/négatifs</a>
        <a href="#" onclick="changeMainContent('Audition')">Audition</a>
        <a href="#" onclick="changeMainContent('cyberball')">Cyberball</a>
        <a href="#" onclick="changeMainContent('emo_faces_nav')">EMO faces</a>
        <a href="#" onclick="changeMainContent('emo_voice_nav')">EMO voices</a>
        <a href="#" onclick="changeMainContent('ia-audition')">Intelligence Artificiel Audition</a>
        <a href="#" onclick="changeMainContent('ia-image')">Intelligence Artificiel Image</a>
        <a href="#" onclick="changeMainContent('contact')">Images mouvantes défilantes</a>
        <a href="#" onclick="changeMainContent('about')">Images statiques défilantes</a>
        <a href="#" onclick="changeMainContent('localizer')">Localizer</a>
        <a href="#" onclick="changeMainContent('home')">Mots défilants</a>
        <a href="#" onclick="changeMainContent('repetition_priming')">Repetition Priming</a>
        <a href="#" onclick="changeMainContent('stroop')">Stroop</a>



        <input type="file" id="fileinput" class="cache">
        <input type="file" id="fileinput-image" class="cache">
        <input type="file" id="fileinput-video" class="cache">
        <input type="file" id="fileinput-adjectifs" class="cache">
        <input type="file" id="fileinput-emo-face" class="cache">
        <input type="file" id="fileinput-stroop" class="cache">
        <input type="file" id="fileinput-emo-voice" class="cache">
        <input type="file" id="fileinput-cyberball" class="cache">
        <input type="file" id="fileinput-localizer" class="cache">
        <input type="file" id="fileinput-priming" class="cache">
        <input type="file" id="launching_text" class="cache">
        <input type="file" id="fileinput-audition" class="cache">
        <input type="file" id="fileinput-audition1" class="cache">
        <input type="file" id="fileinput-ia-audition" class="cache">
        <input type="file" id="fileinput-ia-image" class="cache">



        <span id="resultPort"class="cache">Patient</span>
        <span id="resultBaudrate"class="cache">-1</span>
        <span id="resultTrigger" class="cache">s</span>


    </div>

    <main id="main-content" class="main-content">
        <!-- Contenu géré par about.js !-->
    </main>
    <script src="{{ url_for('static', filename='about.js') }}"></script>

</body>
</html>
